# Task 2

In [ ]:
# Import the MySQL Connector/Python
import mysql.connector as connector

# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="newuser", 
                             password="TSqltools33", 
                             host="localhost",
                             database="little_lemon", 
                            )
print("Connection between MySQL and Python is established.\n")
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
print("Tables in the database are: ")
print(results)

Connection between MySQL and Python is established.

Cursor is created to communicate with the MySQL using Python.

Tables in the database are:
[('Bookings',), ('Customers',), ('Employee',), ('MenuItems',), ('Menus',), ('OrderDelivery',), ('Orders',), ('ordersview',)]

# Task 3

In [25]:
query = """
SELECT
    c.FullName,
    c.ContactNumber,
    c.Email,
    o.TotalCost
FROM
    Customers AS c
INNER JOIN
    Orders AS o ON c.CustomerID = o.CustomerID
WHERE
    o.TotalCost > 60;
"""
cursor.execute(query)

print(cursor.column_names)
for customer in cursor:
    print(customer);

('FullName', 'ContactNumber', 'Email', 'TotalCost')
('Vanessa McCarthy', '13456789', 'vaMcCar@gmail.com', Decimal('250.00'))
('Marcos Romero', '13456789', 'marRo@gmail.com', Decimal('200.00'))
('Anna Iversen', '13456789', 'anIve@gmail.com', Decimal('105.00'))

In [ ]:
# Review Orders table to check result
cursor.execute("select * from Orders")
print(cursor.column_names)
for order in cursor:
    print(order);